[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis
